.App {
  text-align: left;
  margin: 50px;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  padding-left: 40px;
}

li {
  font-size: 20px;
}


